<% title t('.page_title') %>

<% content_for(:notification_banner) do %>
  <%= render partial: 'layouts/notification_banner' %>
<% end %>

<%# TODO: extract strings to locals once design is finalised %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <%= render "add_more" %>

    <%= render @presenter.summary %>

    <%= render "next_steps" %>

    <p class="govuk-body">
      If you have finished adding cautions and convictions, get your results.
    </p>

    <%= button_to report_finish_path(:current),
                  class: 'govuk-button', method: :put,
                  data: { module: 'govuk-button', 'prevent-double-click': true } do; 'Continue to your results'; end %>
  </div>
</div>
