<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header"><%= participant.id %></th>
  <td class="govuk-table__cell"><%= participant.opted_in %></td>
  <td class="govuk-table__cell"><%= participant.access_count %></td>
  <td class="govuk-table__cell"><%= participant.created_at %></td>
  <td class="govuk-table__cell"><%= participant.updated_at %></td>
</tr>
